<div class="gap-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  @for (folder of folders; track folder.id) {
  <div
    (click)="selectFolder(folder)"
    class="relative aspect-video bg-cover bg-center group"
    [style]="{
      'background-image':
        'url(https://drive.google.com/thumbnail?authuser=0&sz=w256h144&id=' +
        folder.fileIds[0] +
        ')'
    }"
  >
    <h2
      class="absolute bottom-0 left-0 right-0 p-2 bg-black opacity-70 text-white text-xl font-bold group-hover:underline"
    >
      {{ folder.name }}
    </h2>
    <div
      class="absolute top-0 right-0 p-2 bg-black opacity-70 text-white flex gap-2"
    >
      {{ folder.fileIds.length }}<mat-icon fontIcon="image"></mat-icon>
    </div>
  </div>
  }
</div>

@if(selectedFolder){
<app-folder
  [folder]="selectedFolder"
  (closePreview)="selectFolder(undefined)"
></app-folder>
}
