<header class="bg-blue-600 text-white py-1 px-2">
  <div class="container max-w-screen-lg mx-auto">
    <div class="flex justify-between items-center">
      <a class="p-1" routerLink="/" (click)="closeMenu()"
        ><div class="flex flex-col uppercase font-bold text-sm">
          <div>Parafia świętego</div>
          <div>wawrzyńca</div>
        </div></a
      >
      <button class="flex md:hidden p-2" (click)="toggle()">
        @if (menuOpen) {
        <mat-icon fontIcon="close" />
        }@else{
        <mat-icon fontIcon="menu" />
        }
      </button>
      <nav class="hidden md:flex">
        @for (option of menuOptions;track option.path) {
        <a
          routerLink="{{ option.path }}"
          class="hover:underline text-center"
          (click)="closeMenu()"
          ><div class="p-2">{{ option.name }}</div></a
        >
        }
      </nav>
    </div>
    @if (menuOpen) {
    <nav class="flex flex-col">
      @for (option of menuOptions;track option.path) {
      <a
        routerLink="{{ option.path }}"
        class="hover:underline text-center"
        (click)="closeMenu()"
        ><div class="p-2">{{ option.name }}</div></a
      >
      }
    </nav>
    }
  </div>
</header>

<main class="container max-w-screen-lg mx-auto p-2 flex-1">
  <router-outlet />
</main>

<footer class="bg-neutral-300">
  <div class="container max-w-screen-lg mx-auto p-4 text-center">
    <p class="font-semibold">
      Parafia rzymskokatolicka pw. św. Wawrzyńca w Żółkiewce, Średnia Wieś 54,
      22-335 Żółkiewka
    </p>
    <p>Telefon parafialny: 500 097 562</p>
    <p>Kościelny: Zbigniew Koprucha - 604 198 804</p>
    <p>Organista: Adam Kalinowski - 603 248 078</p>
  </div>
</footer>

<app-notifications-outlet></app-notifications-outlet>
