<div class="gap-2 grid grid-cols-1 md:grid-cols-2">
  <img src="assets/img/1.webp" alt="kościół_zewnątrz" />
  <img src="assets/img/2.webp" alt="kościół_wewnątrz" />
</div>
<article class="space-y-4 text-justify py-8">
  <p>
    Kościół pw. Świętego Wawrzyńca w Żółkiewce – rzymskokatolicki kościół
    parafialny należący do dekanatu Turobin archidiecezji lubelskiej.
  </p>
  <p>
    Świątynia wzniesiona około 1770 roku z fundacji Tomasza Stamierowskiego,
    starosty krasnostawskiego, właściciela wsi. Konsekrowana została w 1781
    roku. Kilkakrotnie była restaurowana. Kościół jest murowany, został
    wybudowany z kamienia i cegły, jego ściany są otynkowane. Został wzniesiony
    w stylu późnobarokowym, składa się z jednej nawy. Prezbiterium jest węższe i
    niższe, na planie prostokąta, przy nim od strony wschodniej i zachodniej są
    umieszczone dwie symetryczne, zakrystie na planie prostokąta. Chór muzyczny
    jest podparty trzema arkadami, powiększony został w 1937 roku. Budowla
    nakryta jest dachami dwuspadowymi, z wieżyczką na sygnaturkę nad nawą,
    zakrystie nakryte są dachami pulpitowymi, pokrytymi blachą.
  </p>
  <p>
    We wnętrzu znajduje się polichromia w stylu późnobarokowym, wykonana w 1776
    roku przez Gabriela Sławińskiego, kilkakrotnie ją uzupełniano i
    konserwowano. Chrzcielnica pochodzi z 2. połowy XVIII wieku, reprezentuje
    styl rokokowy, ozdobiona jest sceną chrztu Chrystusa w Jordanie,
    przemalowaną. Kamienna kropielnica pochodzi z XV wieku. Feretron pochodzi z
    2. połowy XVIII wieku i posiada obrazy Matki Bożej z Dzieciątkiem i św.
    Mikołaja, reprezentuje styl rokokowy. Dwa portrety pastelowe pochodzą z 2.
    połowy XVIII wieku i przedstawiają Tomasza Stamierowskiego i jego żonę Annę.
    Krucyfiks pochodzi z XVIII wieku. Dwa krzyże procesyjne pochodzą z 2. połowy
    XVIII wieku i reprezentują styl rokokowy. Żyrandol z kryształami, został
    wykonany z mosiądzu w XIX wieku. Dwa kielichy pochodzą z XVIII i XIX wieku.
    Pięć ornatów pochodzi z XVIII wieku.
  </p>
</article>
