<p>home works!</p>

<a href="https://karolsledz.pl/details" [routerLink]="['/details']" class="hover:underline">DETAILS</a>
<br>
<a href="/about" [routerLink]="['/about']" class="hover:underline">ABOUT</a>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis egestas risus non tempor. Suspendisse mollis
    tellus et lectus gravida molestie et id libero. Aenean egestas arcu a neque tincidunt, sed vehicula ante fringilla.
    Integer vitae diam fermentum nisi laoreet auctor. Duis rhoncus consequat quam, non ornare velit molestie a. Nunc
    ante mauris, vulputate scelerisque dui eu, semper pulvinar neque. Phasellus condimentum velit orci, id sagittis ante
    viverra ac. Mauris gravida interdum mi vitae tristique. Suspendisse viverra vulputate magna quis bibendum. Nunc id
    magna imperdiet, tincidunt turpis in, euismod ligula. Curabitur sit amet velit et arcu venenatis pulvinar porta et
    arcu. Aenean et euismod urna. Aliquam a nulla pellentesque, mollis diam eget, pretium elit.
</p>
