<p>details works!</p>

<p>Aliquam erat volutpat. Nunc vel magna non elit imperdiet accumsan at eu nisi. Proin nunc nunc, lacinia quis turpis
    tristique, consequat posuere erat. Proin scelerisque, nisi non vulputate volutpat, est nisi ornare leo, et molestie
    quam turpis sit amet magna. Praesent fermentum quam nec tellus porttitor mattis. In lacinia, libero at sagittis
    venenatis, tortor turpis tincidunt urna, id porta ipsum dolor sed urna. Mauris eget nisl nec felis laoreet lacinia.
    Nullam iaculis elit dapibus augue congue congue. Nullam pretium ipsum ut velit convallis, id iaculis arcu laoreet.
    Quisque neque lectus, bibendum ut nulla vitae, tincidunt ullamcorper lorem. Praesent tortor ipsum, cursus vitae
    semper at, euismod et felis. Donec quis enim lectus. </p>