<div class="flex flex-col gap-4">
  <label for="token">
    Token:
    <div class="flex">
      <input
        id="token"
        placeholder="token"
        [(ngModel)]="apiKey"
        [type]="inputType"
      />
      <button (click)="toggleInputType()" class="flex">
        @if(inputType==='password'){
        <mat-icon fontIcon="visibility"></mat-icon>
        }@else {
        <mat-icon fontIcon="visibility_off"></mat-icon>
        }
      </button>
    </div>
  </label>
  <hr class="my-4" />
  <label for="date">
    Data:
    <input id="date" [(ngModel)]="date" type="date" />
  </label>
  <label for="announcements">
    Ogłoszenia:
    <input
      id="announcements"
      type="file"
      accept=".htm,.html"
      (change)="onAnnouncementsFileChange($event)"
    />
  </label>
  <label for="intentions">
    Intencje:
    <input
      id="intentions"
      type="file"
      accept=".htm,.html"
      (change)="onIntentionsFileChange($event)"
    />
  </label>
  <button (click)="onUpload()">Zaktualizuj</button>
  <hr class="my-4" />
  <button (click)="onReloadContent()">Aktualizuj galerię</button>
</div>
